
@{
    ViewBag.Title = "CondolencesFromObituary";
}

<h2>Anthony's Obituary with Condolences</h2>

<p>
    Anthony San Miguel, 33, went on to spend an eternal life with
    our Almighty Father in Heaven on Saturday, September 17, 2016
    in Wichita Falls, Texas. Funeral services will be held at 10 AM
    on Wednesday, September 21, 2016 at the Texoma Cowboy Church in
    Wichita Falls. Graveside services will follow at Highland Cemetery
    under the direction of Dutton Funeral Home in Iowa Park, Texas.
    Visitation will be held from 6-8 PM on Tuesday, September 20, 2016
    in the chapel at Dutton Funeral Home.
    Anthony was born September 18, 1982 at Sheppard Air Force Base,
    Texas to Randal San Miguel and Deborah (Richards) Chaney. He was a
    2001 graduate of Iowa Park High School where he was a power lifter
    and after graduation competed nationally. Anthony worked as a
    supervisor at Owen's Corning in Wichita Falls.
    Anthony is survived by his grandparents, Leocadio San Miguel, Jr.
    and Ada Richards; parents; fiancé, Annette Estrada; one sister,
    Michelle Wright and her three sons; and brother Randal, Jr. wife, Meghan
    and three daughters; brother, Dustin; Deirdre Bradford, Kayla Lalumia,
    Lindy Flowers, Andrew McCoy; and many other beloved family and friends.
    Memorials may be made to Hospice of Wichita Falls, 4909 Johnson Rd.
    Wichita Falls, Texas 76310.
</p>

<h5>Service Information
    Visitation
    Tuesday, September 20, 2016
    6:00 pm - 8:00 pm
    Dutton Funeral Home Chapel
    Iowa Park, Texas
    Funeral Service
    Wednesday, September 21, 2016
    10:00 am
    Texoma Cowboy Church
    Wichita Falls, Texas</h5>

<p>Tuesday, September 20, 2016
    My thoughts and prayers are with the San Miguel family. Anthony, thank you for all your help with the Iowa Park Girl's Powerlifting 2003-2004 teams. The memories I have of you helping with our team are priceless. Your strength and courage are an example we should all live by. RIP Anthony
    ~  Kayla Green, Iowa Park, Texas
    Tuesday, September 20, 2016
    My thoughts and prayers are with the San Miguel family. Anthony, thank you for all your help with the Iowa Park Girl's Powerlifting 2003-2004 teams. The memories I have of you helping with our team are priceless. Your strength and courage are an example we should all live by. RIP Anthony
    ~  Kayla Green, Iowa Park, Texas
</p>

<p>Thursday, September 22, 2016
    I had never had the pleasure of meeting Anthony, but I have served under his sister, Michelle Wright, as my supervisor. I'm sure he was a great person and I only heard great things from Michelle. You all are in my prayers. God bless you Michelle and the San Miguel family and friends.
    ~  Tammy Gordon, DeSoto, Texas
</p>

<p>Thursday, September 22, 2016
    God Bless
</p>

<p>Thursday, September 22, 2016
    My thoughts and prayers are always with the San Miguel family. I've known Anthony since he was a little boy. You will be dearly missed.
    ~  Princess Boyd-Roberts, Hinesville, Georgia
</p>

<p>Saturday, October 08, 2016
    Siento mucho la pérdida del señor Miguel. Imagino el dolor que sienten sus familiares y amigos. Quisiera compartir con ustedes un mensaje de esperanza que hallamos en la palabra de Dios. En Isaias 25:8 Dios nos promete que muy pronto le pondrá fin a la muerte y acabará con todo lo que nos hace sufrir.
</p>

