@{
    ViewBag.Title = "ContactUs";
}

<h2>ContactUs</h2>

<p>Although Anthony is no longer with us, we would love to share your
    stories about his life and the impact he made. Please submit any
    pictures, stories or messages to be published for all to see.</p>

@*Submitter - Name
Caption - Subject
Blog - Message*@

