@using LifeMakingMyDecisions.Models
@model LifeMakingMyDecisions.Models.EntriesViewModel
@{
    ViewBag.Title = "Stories";
}

<h2>Stories</h2>

<p>Title Kind of speaks for itself. If people have stories
    and want to share, use Contact page. Put a button. </p>

        @*<p>
            @Model.Caption<hr />
            @Model.Submitter<hr />
            @Model.Blog<hr />
        </p>*@
