
@{
    ViewBag.Title = "Index";
}

<h2>Anthony San Miguel</h2>
<h4>September 18, 1982 - September 17, 2016</h4>

<p>Have a story to share?</p>

<p>Have a picture to share?</p>

<p>Want to sign the Guest Book?</p>

<button type="button" onclick="document.getElementById('Anthony').innerHTML = 'Please help me by submitting your memories!'">Anthony</button>
